# Dependencias
node_modules/

# Build
dist/

# Logs
logs
*.log
npm-debug.log*

# Archivos de entorno (IMPORTANTE)
#.env

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Coverage (tests)
coverage/